*{
  color: wheat;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body{
  background-color: #222222;
  
}

section{
  height: 100vh;
  background-color: #222222;
}

#myPhoto{

height: 60%;
width: 60%;
}

#landing{
  padding-top: 5rem;
}

#btn-work{
  background-color: #1E8481;
  color: #222222;
}

#nav{
  background-color: #1E8481;
  opacity: 0.9;
  height: 3.8rem;
}

#logoNav{
  float: left;
}

#logo{
  font-size: 2rem;
}

#aboutMe{
  background-color: wheat;

}

i{
  font-size: 2rem;
}

.hello{
  width: 15%;
  height: 65%;
}

.hi{
  width: 15%;
  height: 65%;
}

#secondRow{
  width: 28%;
}

#myName{
  border-bottom: 2px solid wheat;
}

#projects{
  background-color: #222222;
}

.photo{
  opacity: 0.5;
}

.photo:hover{
  opacity: 1;
}